In [1]:
import pandas as pd
import numpy as np
import matplotlib as mlb

from sklearn import tree

In [2]:
df = pd.read_csv('./ilp2021f/train_final.csv')

In [3]:
train_X = df[['age','workclass','fnlwgt','education','education.num','marital.status','occupation','relationship','race','sex','capital.gain','capital.loss','hours.per.week','native.country']]
train_y = df[['income>50K']]

In [4]:
df_test = pd.read_csv('./ilp2021f/test_final.csv')
test_X = df_test[['age','workclass','fnlwgt','education','education.num','marital.status','occupation','relationship','race','sex','capital.gain','capital.loss','hours.per.week','native.country']]

In [5]:
train_X = train_X.replace('?',np.NaN)
test_X = test_X.replace('?',np.NaN)

Replacing '?' with most frequent value of each column

In [6]:
train_X = train_X.fillna(df.mode().iloc[0])
test_X = test_X.fillna(df.mode().iloc[0])

parse categorized values to integers

In [7]:
train_X_dummies = pd.get_dummies(train_X, columns = train_X.columns)
test_X_dummies = pd.get_dummies(test_X, columns = test_X.columns)

In [8]:
final_train, final_test = train_X_dummies.align(test_X_dummies, join= 'left', axis = 1)

In [9]:
final_train

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,...,native.country_Portugal,native.country_Puerto-Rico,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
24996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
24997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
24999,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [10]:
final_test

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,...,native.country_Portugal,native.country_Puerto-Rico,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23837,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
23838,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
23839,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
23840,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
23841,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [11]:
train_y = train_y.fillna(df.mode().iloc[0])

In [12]:
train_y

       income>50K
0               1
1               1
2               0
3               0
4               0
...           ...
24995           0
24996           0
24997           0
24998           1
24999           0

[25000 rows x 1 columns]

Fitting DecisionTreeClassifier

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [14]:
entropy_tree = DecisionTreeClassifier(criterion='entropy')

In [15]:
entropy_tree.fit(final_train, train_y)

DecisionTreeClassifier(criterion='entropy')

In [16]:
from sklearn import tree

preprocessing test data

In [31]:
final_test = final_test.fillna(final_test.mode().iloc[0])

In [47]:
entropy_tree.plot()

AttributeError: 'DecisionTreeClassifier' object has no attribute 'plot'

In [40]:
test_y = entropy_tree.predict(final_test)

In [33]:
print(type(test_y[0]))
print(test_y.shape)

<class 'numpy.int64'>
(23842,)

In [34]:
import csv

In [39]:
f = open('test_y.csv','w', newline='')
wr = csv.writer(f)
i = 1
wr.writerow(["ID","Prediction"])
for item in test_y:
    wr.writerow([i,item])
    i+=1
 
f.close()

In [41]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

In [42]:
adaboost = AdaBoostClassifier(n_estimators=50, learning_rate=1, random_state=0)
model = adaboost.fit(final_train,train_y.values.ravel())

In [44]:
test_y = model.predict(final_test)

In [45]:
f = open('test_y_ada2.csv','w', newline='')
wr = csv.writer(f)
i = 1
wr.writerow(["ID","Prediction"])
for item in test_y2:
    wr.writerow([i,item])
    i+=1
 
f.close()

In [46]:
adaboost.plot()

AttributeError: 'AdaBoostClassifier' object has no attribute 'plot'

In [48]:
adaboost2 = AdaBoostClassifier(n_estimators=100, learning_rate=0.3, random_state=0)
model2 = adaboost2.fit(final_train,train_y.values.ravel())

In [49]:
test_y2 = model2.predict(final_test)

In [50]:
f = open('test_y_ada2.csv','w', newline='')
wr = csv.writer(f)
i = 1
wr.writerow(["ID","Prediction"])
for item in test_y2:
    wr.writerow([i,item])
    i+=1
 
f.close()